
<div class="hero flex items-center justify-between">
  <div class="text">
    <h1>Hello There! I'm <span>Zeiad Magdy</span>,</h1>
    <p>
      a full-stack developer passionate about creating dynamic, user-friendly
      web applications with modern technologies like Angular, Node.js, Laravel,
      and MongoDB.
    </p>
    <button (click)="downloadCV()" class="download-btn">Check My CV!</button>
  </div>
  <img
    src="../../../assets/images/91c7973e-516f-45ce-ab97-7fb8d67c (1)(1).png"
    class="hero-image"
  />
</div>

<app-about> </app-about>
<app-services></app-services>


