<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<section class="services mt-20" id="services">
  <div class="container mx-auto px-6 md:px-12">
    <h1 class="text-3xl font-bold mb-6">Services</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div
        class="service-card bg-white p-6 rounded-lg shadow-lg hover:shadow-xl"
      >
        <div class="icon mb-4">
          <i class="fas fa-code w-12 h-12 text-4xl mx-auto"></i>
          <!-- Frontend Icon -->
        </div>
        <h4 class="text-2xl font-bold mb-4">Frontend</h4>
        <p>
          I have a strong understanding of the entire frontend ecosystem,
          including HTML, CSS, JavaScript, and Angular.
        </p>
      </div>
      <div
        class="service-card bg-white p-6 rounded-lg shadow-lg hover:shadow-xl"
      >
        <div class="icon mb-4">
          <i class="fas fa-server w-12 h-12 text-4xl mx-auto"></i>
          <!-- Backend Icon -->
        </div>
        <h4 class="text-2xl font-bold mb-4">Backend</h4>
        <p>
          I have a strong understanding of the backend ecosystem, including
          Node.js, Express, MongoDB, and Laravel.
        </p>
      </div>
      <div
        class="service-card bg-white p-6 rounded-lg shadow-lg hover:shadow-xl"
      >
        <div class="icon mb-4">
          <i class="fas fa-laptop-code w-12 h-12 text-4xl mx-auto"></i>
          <!-- Fullstack Icon -->
        </div>
        <h4 class="text-2xl font-bold mb-4">Full-stack</h4>
        <p>
          I have experience with Docker, Kubernetes, and other DevOps tools.
        </p>
      </div>
    </div>
  </div>
</section>
